main {
  text-align: center;
  vertical-align: center;
  line-height: 100vh
}


.menu{
  border: 0.5px solid;
  border-radius: 50px;
  flex-wrap: none;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}



#toggle{
  display: flex;
  justify-content:center;
  align-items: center;
}

#toggleButton{
  
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}

#cross-Up{
  transform-origin: 10px 15px;
  transform:  rotate(45deg);
  transition: 0.5s;
}

#cross-Middle{
  opacity: 0;
  transition: 0.3s;
}

#cross-Down{
  transform-origin:6px 25px;
  transform: rotate(-45deg);
  transition:0.5s;

}

#burger-Up{
  transition: 0.5s;
}

#burger-Middle{
  opacity: 1;
  transition: 0.3s;
}

#burger-Down{
  transition: 0.5s;
}

#nav{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items:center;
  width: 50%;
  height: 60%;
  margin-bottom: 5px;
}

#nav a{
  display: flex;
  flex-direction: row;
  flex-wrap: none;
  overflow: hidden;
  white-space: nowrap;
}